footer.footer
  .footer__logo
    img(src='/img/logo-green.png' alt='Natour logo')
  ul.footer__nav
    li: a(href='https://www.facebook.com/quangduy.do.735/') About me
    //- li: a(href='#') Download apps
    li: a(href='mailto:jackydo1973@gmail.com') Become a guide and post tour on our website
    li: a(href='mailto:jackydo1973@gmail.com') Careers
    li: a(href='mailto:jackydo1973@gmail.com') Contact
  p.footer__copyright &copy; by Quang Duy Do a.k.a Jack Do. CEO and founder of JnD Inc.